
// Template styling resets
#migrated {
    .main {
        padding: 0;
    }

    .main > .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

    .widget.content ul li:before {
        display: none;
    }

    .row--layout-text-14a,
    .row--layout-pricing-1a {
        .bk-content-text li {
            padding-left: 40px;
        }
    }
}

// Re-add the reset styles
#migrated {
    .container > .pagetitle,
    .empty-zone,
    #page-zones__main:empty,
    #page-zones__main > .widget:not([data-name="row"]),
    .row > .row:not(.row--width-no-padding) .row__container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        width: 90%;
    }

    &.edit #page-zones__main-overlay + .widget:not([data-name="row"]),
    #page-zones__main > .widget:not([data-name="row"]):first-child {
        margin-top: 80px;
    }

    #page-zones__main > .widget:not([data-name="row"]):last-child {
        margin-bottom: 80px;
    }

    #page-zones__main > [data-name="row"] + .widget:not([data-name="row"]) {
        margin-top: 20px;
    }

    [data-name="row"] .column .widget + .widget {
        margin-top: 12px;
    }
}
