// Plugins

// BLOG

.blog-post-list,
.blogpost {
	.blog-post-item {
		margin-bottom: 4em;

		.blog-post-title,
		.blog-post-summary,
		.blog-post-date {
			padding: 0;
		}

		.blog-post-title {
			margin-bottom: 0.25em;

			a {
				color: @font-swatch1-color;
				text-decoration: none;

				.style--light & {
					color: @contrast--light;
				}

				.style--accent & {
					color: @contrast--accent;
				}

				.style--dark & {
					color: @contrast--dark;
				}

				&:hover {
					color: @button-color;

					.style--light & {
						color: @color--accent;
					}

					.style--accent & {
						color: @contrast--accent;
					}

					.style--dark & {
						color: @color--accent;
					}
				}
			}
		}

		.blog-post-summary {
			.style--light & {
				color: fade(@contrast--light, 90%);
			}

			.style--accent & {
				color: fade(@contrast--accent, 90%);
			}

			.style--dark & {
				color: fade(@contrast--dark, 90%);
			}
		}

		.blog-post-date {
			display: inline-block;
			font-style: italic;
			text-decoration: none;
			color: @font-swatch5-color;

			.style--light & {
				color: fade(@contrast--light, 90%);
			}

			.style--accent & {
				color: fade(@contrast--accent, 90%);
			}

			.style--dark & {
				color: fade(@contrast--dark, 90%);
			}
		}

		.blog-post-summary {
			margin-bottom: 1em;
		}

		.blog-post-more-link {
			margin: 1em 0 0;
			padding: 0;
		}

		.blog-post-pagination-page,
		.blog-post-pagination-page:hover {
			.style--light & {
				color: @color--accent;
			}

			.style--accent & {
				color: @contrast--accent;
			}

			.style--dark & {
				color: @color--accent;
			}
		}
	}
}

.blog-post-tags li a,
.blog-post-category a {
	border: 1px solid @contrast-color;
	padding: 1px 12px 2px;
	display: inline-block;
	margin-bottom: 5px;
	line-height: 20px;

	.style--light & {
		color: fade(@color--accent, 90%);
	}

	.style--accent & {
		color: fade(@color--dark, 90%);
	}

	.style--dark & {
		color: fade(@color--accent, 90%);
	}

	&:hover {
		text-decoration: none;
		color: darken(@color-swatch3, 15%);
		border-color: darken(@color-swatch2, 15%);

		.style--light & {
			border-color: darken(@color--accent, 10%);
			color: darken(@color--accent, 5%);
		}

		.style--accent & {
			border-color: lighten(@color--dark, 10%);
			color: lighten(@color--dark, 5%);
		}

		.style--dark & {
			border-color: darken(@color--accent, 10%);
			color: darken(@color--accent, 5%);
		}
	}
}


.blog-post-title-content-wrap, 
.blog-post-metadata {
	margin: 2em 0;
}

.blog-post-feature-image-wrap {
	height: 200px;
	background-size: cover;
	background-position: center;
	margin-bottom: 2em;

	img {
		display: none;
	}
}

// E-COMMERCE

// Categories

.widget.ecomcategorieslist {
	aside.product-category {
		margin: 0 0 2em;
	}

	ul.product-category-items {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0 -10px;
		padding: 0;

		li {
			padding: 5px 10px;
		}

		a,
		span {
			.style--light & {
			    color: @color--accent;
			}

			.style--accent & {
			    color: @contrast--accent;
			}

			.style--dark & {
			    color: @color--accent;
			}
		}
	}
}

// Product List

.widget.ecomproductslist,
.widget.ecomfeaturedproducts {
	width: auto;
	margin-left: 0;
}

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
	display: flex;
	flex-wrap: wrap;
	max-width: auto;
	margin: 0 -1em;

	@media @mobile {
		margin: 0;
	}

	.responsivecolumns & {
		margin: 0;
	}

	// Filter

	.productlist-filter {
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 40px;
		width: 100%;
		padding: 0 1em;

		@media @mobile {
			padding: 0;
		}

		.responsivecolumns & {
			padding: 0;
		}

		.productlist-display-form {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0 -0.5em;
			padding: 0;

			@media @mobile {
				display: block;
				margin: 0 -0.5em;
				padding: 0;
			}

			.responsivecolumns & {
				display: block;
				margin: 0 -0.5em;
				padding: 0;
			}

			// Filter Group

			.form-group {
				margin: 0;
				margin-bottom: 1em;
				min-width: 100%/3;
				padding: 0 0.5em;

				@media @mobile {
					min-width: 100%;
					margin: 0;
				}

				.responsivecolumns & {
					min-width: 100%;
					margin: 0;
				}
				
				label {
					display: block;
					margin-top: 1em;
					margin-bottom: 0.5em;

					@media @mobile {
						width: 100%;
					}

					.responsivecolumns & {
						width: 100%;
					}
				}

				select {
					width: 100%;

					@media @mobile {
						margin-bottom: 0;
					}

					.responsivecolumns & {
						margin-bottom: 0;
					}
				}

				&.productlist-search {
					@media @mobile {
						margin-top: 2em;
					}

					.responsivecolumns & {
						margin-top: 2em;
					}
				}
			}
		}
	}
}

.widget.ecomproductslist .productlist-item-count {
	padding-top: 10px;
}

// Product Item

.widget.ecomproductslist .ecom-productslist-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap.products-2 .ecom-featuredproducts-product {
	display: block;
	width: 100%/3;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 3em;
	padding: 0 1em;
	overflow: visible;

	a:hover {
		text-decoration: none;
	}

	@media @tablet {
		width: 100%/2;
		margin-right: 0;
	}

	@media @mobile {
		width: 100%;
		margin-right: 0;
		padding: 0;
	}

	.responsivecolumns & {
		width: 100%;
		margin-right: 0;
		padding: 0;
	}
}

// Image

.widget.ecomproductslist .ecom-productslist-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image-wrap {
	display: flex;
	align-items: center;
	margin: 0 auto;
	background-position: center;
	height: 250px;
	background-color: @color-swatch7;
	background-image: none !important;

	.style--light & {
		background-color: @color--light;
	}

	.style--accent & {
		background-color: @color--accent;
	}

	.style--dark & {
		background-color: @color--dark;
	}
}

.widget.ecomproductslist .ecom-productslist-image,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image {
    display: block;
    height: 80%;
    margin: auto;
}

// Title

.widget.ecomproductslist .ecom-productslist-title,
.widget.ecomfeaturedproducts .ecom-featuredproducts-title {
	word-break: break-word;
}

// Price

.widget.ecomproductslist .ecom-productlist-price,
.widget.ecomfeaturedproducts .ecom-featuredproducts-price {
	border: 1px solid @contrast-color;
	padding: 3px 10px 4px;

	.style--light & {
		border-color: fade(@color--accent, 90%);
		color: @color--accent;
	}

	.style--accent & {
		border-color: fade(@color--dark, 90%);
		color: @contrast--accent;
	}

	.style--dark & {
		border-color: fade(@color--accent, 90%);
		color: @color--accent;
	}
}

// Info

.widget.ecomproductslist .ecom-productlist-info,
.widget.ecomfeaturedproducts .ecom-featuredproducts-info {
	margin-top: 20px;
	text-align: center;
}

.widget.ecomproductslist .productlist-pagination {
	margin-left: 0;
	margin-right: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

	.productlist-pagination-pages .productlist-pagination-page {
		padding: 0 10px;
	}

	a {
		.style--light & {
			color: fade(@color--accent, 90%);
		}

		.style--accent & {
			color: fade(@color--dark, 90%);
		}

		.style--dark & {
			color: fade(@color--accent, 90%);
		}
	}

	span {
		.style--light & {
			color: @contrast--light;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @contrast--dark;
		}
	}
}

// Product Detail

.widget.ecomproduct {
	margin-bottom: 3em;

	.ecom-product {
		.ecom-product-images-container {
			@media @tablet {
				width: 100%;
			}
		}
		
		.ecom-product-preview-image-wrap {
		    background-color: @color-swatch7;
		    padding: 3em;

		    .style--light & {
				background-color: @color--light;
			}

			.style--accent & {
				background-color: @color--accent;
			}

			.style--dark & {
				background-color: @color--dark;
			}
		}

		.ecom-product-info,
		.ecom-product-long-description {
			@media @tablet-large {
				width: 100%;
				display: block;
				padding: 0 !important;
				border: 0 !important;
				margin-bottom: 2em;
			}
		}

		p.ecom-product-price {
			font-size: @font-swatch4-font-size;
		}

		.ecom-product-variation {
			margin-bottom: 1em;

			select {
				appearance: none !important;
				-moz-appearance: none !important;
				-webkit-appearance: none !important;
			}
		}

		.ecom-product-add-to-cart-btn-wrapper,
		.ecom-product-go-to-checkout-btn-wrapper {
			margin-bottom: 1em;

			@media @mobile {
				width: 100%;
			}

			.responsivecolumns & {
				width: 100%;
			}

			.ecom-product-add-to-cart-btn span {
				position: relative;
			}
		}

		.ecom-product-add-to-cart-btn,
		.ecom-product-go-to-checkout-btn-wrapper a {
			margin: 0;
			height: 52px;
			line-height: 30px;
			min-width: 250px;
			
			&:hover {
			    text-decoration: none;
			}

			@media @mobile {
				width: 100%;
			}

			.responsivecolumns & {
				width: 100%;
			}
		}

		.ecom-product-cattag {
			margin: 1.5em 0 0;
			line-height: 36px;
		}

		a.ecom-product-tag-link,
		a.store-category-link {
			border: 1px solid @contrast-color;
			padding: 3px 13px 4px;
			text-decoration: none;

			.style--light & {
				border-color: fade(@color--accent, 90%);
			}
		
			.style--accent & {
				border-color: fade(@color--dark, 90%);
			}
		
			.style--dark & {
				border-color: fade(@color--accent, 90%);
			}

			&:hover {
				border-color: darken(@color-swatch2, 15%);
				color: darken(@color-swatch3, 15%);

				.style--light & {
					border-color: darken(@color--accent, 10%);
					color: darken(@color--accent, 5%);
				}

				.style--accent & {
					border-color: lighten(@color--dark, 10%);
					color: lighten(@color--dark, 5%);
				}

				.style--dark & {
					border-color: darken(@color--accent, 10%);
					color: darken(@color--accent, 5%);
				}
			}
		}
	}

	.ecom-product-vartitle {
		.label;
	}
	
	.product-actions {
		button {
			margin-bottom: 1em;
			text-align: center;
        
			@media @mobile {
				width: 100%;
			}
        
			.responsivecolumns & {
				width: 100%;
			}

			&:before {
				float: none;
			}
		}
	}
}

// Basket

.basket-summary-items-table {
	border-collapse: collapse;
	width: 100%;
	
	td, th {
		@media @mobile {
			float: left;
			width: 100%;
			padding: 3px 0;
		}
	}

	th {
		padding: 0.5em 0;
	}

	.image-wrap {
		background-position: 10000px;
		line-height: 0;
		text-align: center;
		max-width: 120px;

		img {
			max-width: 120px !important;
			max-height: 120px;
		}
	}

	tr {
		border-bottom: solid 1px darken(@color-swatch1, 10%);

		&:last-of-type {
			border-bottom: none;

			td:not(.basket-summary-subtotal) {
				@media @mobile {
					display: none;
				}
			}
		}
	}

	td {
		padding: 10px 0;
	}

	.basket-summary-amount, 
	.basket-summary-subtotal {
		@media @mobile {
			padding: 10px 0;
			text-align: right;
			border-bottom: none;
		}
	}

	.basket-summary-items-column {
    	width: 30%;
    	
		@media @mobile {
			text-align: left;
		}
	}

	.basket-summary-amount-column,
	.basket-summary-details-column {
		@media @mobile {
			display: none;
		}
	}

    .basket-summary-quantitybtn {
    	button.btn {
    		padding: 7px 18px;
    	}
    }
    
    .quantity-number {
    	display: inline-block;
    	min-width: 40px;
    	text-align: center;
    }
}


// Basket

.widget.ecombasket {
	margin-bottom: 2em;

	.ecombasket-pull {
		width: auto;
		max-width: 200px;
		height: 52px;

		p {
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			text-transform: uppercase;
			position: relative;

			&:before {
				content: '\f291';
				display: inline-block;
				top: 0;
				margin-top: -0.25em;
				margin-right: 0.5em;
				background-image: none;
				height: 1.5em;
				width: 1.5em;
				font-family: 'FontAwesome';
				text-indent: 0;
				font-size: 1.25em;
			}
		}
	}

	.ecombasket-list-container {
		ul {
			li {
				border-bottom: 1px solid @contrast-color;

				.ecombasket-item-image {
					width: 85px;
				}

				.ecombasket-item-info {
					.ecombasket-item-title {
						font-family: @font-swatch4-font-family;
						font-size: @font-swatch4-font-size;
						text-transform: uppercase;
						letter-spacing: .1em;
					}

					.ecombasket-remove-button {
						line-height: 10px;
						padding: 10px 20px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn .text:before {
	content: '\f291';
	display: inline-block;
	top: 0;
	margin-top: -0.25em;
	margin-right: 0.5em;
	background-image: none;
	height: 1.5em;
	width: 1.5em;
	font-family: 'FontAwesome';
	text-indent: 0;
	font-size: 1.25em;
}

.basket-summary-empty-cta,
.ecombasket-summary-link {
	display: inline-block;
}

.basket-summary-continue-shopping,
.basket-summary-submit {
	margin-left: 0;
	margin-right: 10px;
	margin-bottom: 10px;

	@media @mobile {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}

	.responsivecolumns & {
		margin-right: 0;
		width: 100%;
		text-align: center;
	}
}