// Plugins

// BLOG

.blog-post-list {
	.blog-post-item {
		margin-bottom: 2em;

		.blog-post-title,
		.blog-post-summary,
		.blog-post-more-link,
		.blog-post-date {
			margin-bottom: 15px;
			padding: 0;
		}

		.blog-post-title a {
			color: @font-swatch1-color;
			padding-bottom: 2em;
			text-decoration: none;

			&:hover {
				color: @button-color;
			}
		}

		.blog-post-more-link a {
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			color: @font-swatch7-color;
			background-color: @font-swatch7-background-color;
			text-transform: uppercase;
			letter-spacing: .1em;
			text-decoration: none;
			padding: 10px 30px 7px;
			.transition (all, 0.5s, ease);

			&:hover {
				color: @font-swatch7-color;
				background-color: @font-swatch7-background-color-hover;
				.transition (all, 0.5s, ease);
				cursor: pointer;
			}
		}

		.blog-post-more-link,
		.blog-post-date {
			display: inline-block;
		}

		.blog-post-date {
			font-style: italic;
			color: @font-swatch5-color;
			float: right;
			text-decoration: none;
		}
	}
}

.blog-post-tags li a,
.blog-post-category a {
	border: 1px solid @contrast-color;
	padding: 1px 12px 2px;
	display: inline-block;
	margin-bottom: 5px;
	line-height: 20px;

	&:hover {
		text-decoration: none;
		color: darken(@color-swatch3, 15%);
		border-color: darken(@color-swatch2, 15%);
	}
}


.blog-post-title-content-wrap, 
.blog-post-metadata {
	margin-bottom: 20px;
}

.blog-post-feature-image-wrap {
	height: 200px;
	background-size: cover;
	background-position: center;
	margin-bottom: 30px;

	img {
		display: none;
	}
}

// Blog Search

.widget.blogsearch {
	margin-bottom: 2em;

	input {
		height: 40px;
		width: 100%;
		margin-bottom: 0;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
	}

	button {
		position: absolute;
		bottom: 0;
		right: 0;
	}
}

// MENU

.widget.menusections {
	text-align: center;

	ul {
		padding: 2em 0;

		li {
			a {
				border: 1px solid @contrast-color;
				padding: 6px 20px;

				&:hover {
					text-decoration: none;
					color: darken(@color-swatch3, 15%);
					border-color: darken(@color-swatch2, 15%);
				}
			}
		}
	}
}

.menu {
	.menu-header {
		text-align: center;
		margin-bottom: 2em;
	}

	.menu-items {
		li {
			padding: 2em 0;

			&.menu-item-promoted {
				padding: 30px;
				border: 1px solid @contrast-color;
			}
		}

		.menu-item-price p {
			color: @font-swatch4-color;
			font-family: @font-swatch4-font-family;
			font-size: @font-swatch4-font-size;
		}

		h4.menu-item-nutritional-title {
			font-size: @font-swatch5-font-size;
		}

		.menu-section-item-dietary-props {
			margin-top: 10px;
		}

		.dietary-icon {
			padding: 2px 10px;
			color: @button-color;
			border: 1px solid @contrast-color;
			font-size: bkscale(@font-swatch5-font-size, 0.8);
			line-height: bkscale(@font-swatch5-line-height, 0.8);
			text-transform: uppercase;
		}
	}

	.menu-item-image-wrap {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 200px;
		margin-bottom: 20px;

		.menu-item-image {
			display: none;
		}
	}

	.menu-subsection {
		padding: 30px;
		border: 1px solid @contrast-color;

		.menu-subsection-header {
			text-align: center;
		}
	}
}

// E-COMMERCE

.widget.ecomproductslist,
.widget.ecomfeaturedproducts {
	width: auto;
	margin-left: 0;
}

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
	margin-left: 0;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;

	// Filter

	.productlist-filter {
		margin: 0 auto;
		width: 100%;

		.productlist-display-form {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding: 0;

			@media @mobile {
				display: block;
				margin: 0;
				padding: 0;
			}

			.responsivecolumns & {
				display: block;
				margin: 0;
				padding: 0;
			}

			// Filter Group

			.form-group {
				margin: 0;
				margin-bottom: 20px;
				min-width: 100%/3;
				padding: 0 0.5em;

				@media @mobile {
					min-width: 100%;
					margin: 0;
				}

				.responsivecolumns & {
					min-width: 100%;
					margin: 0;
				}
				
				label {
					display: block;
					margin-top: 1em;
					margin-bottom: 0.5em;

					.style--light & {
						color: @contrast--light;
					}

					.style--accent & {
						color: @contrast--accent;
					}

					.style--dark & {
						color: @contrast--dark;
					}

					@media @mobile {
						width: 100%;
					}
				}

				select {
					width: 80%;

					@media @mobile {
						width: 100%;
					}
				}

				input {
					width: 80%;
					margin: 0;
					padding-right: 130px;

					@media @mobile {
						width: 100%;
					}
				}
			}

			.productlist-search {
				position: relative;

				button {
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}

.widget.ecomproductslist .productlist-item-count {
	padding-top: 10px;
}

// Product Item

.widget.ecomproductslist .ecom-productslist-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-product {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-left: 0;
	margin-bottom: 2em;
	padding: 0;
	vertical-align: top;
	overflow: visible;

	@media @tablet {
		width: 45%;
		margin-right: 4%;
	}

	@media @mobile {
		width: 97%;
		margin-right: 0;
	}
}

// Price

.widget.ecomproductslist .ecom-productlist-price,
.widget.ecomfeaturedproducts .ecom-featuredproducts-price {
	border: 1px solid @contrast-color;
	padding: 3px 10px 4px;
}

// Info

.widget.ecomproductslist .ecom-productlist-info,
.widget.ecomfeaturedproducts .ecom-featuredproducts-info {
	margin-top: 20px;
	text-align: center;
}

.widget.ecomproductslist .productlist-pagination {
	margin-left: 0;
	margin-right: 3%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

	.productlist-pagination-pages .productlist-pagination-page {
		padding: 0 10px;
	}
}

// Product Detail

.widget.ecomproduct {
	margin-bottom: 3em;

	.ecom-product {
		.ecom-product-images-container {
			@media @tablet {
				width: 100%;
			}
		}

		.ecom-product-info,
		.ecom-product-long-description {
			@media @tablet-large {
				width: 100%;
				display: block;
				padding: 0 !important;
				border: 0 !important;
				margin-bottom: 2em;
			}
		}

		p.ecom-product-price {
			font-size: @font-swatch4-font-size;
		}

		.ecom-product-variation {
			margin-bottom: 1em;

			select {
				appearance: none !important;
				-moz-appearance: none !important;
				-webkit-appearance: none !important;
			}
		}

		.ecom-product-add-to-cart-btn-wrapper,
		.ecom-product-go-to-checkout-btn-wrapper {
			display: inline-block;
			vertical-align: middle;
		}

		.ecom-product-add-to-cart-btn-wrapper {
			width: 65%;
			float: left;
			padding-right: 2em;

			@media @mobile {
				width: 100%;
				float: none;
				padding-right: 0;
				margin-bottom: 1em;
			}

			.ecom-product-add-to-cart-btn span {
				position: relative;
			}
		}

		.ecom-product-go-to-checkout-btn-wrapper {
			width: 35%;
			text-align: center;

			@media @mobile {
				width: 100%;
			}
		}

		.ecom-product-add-to-cart-btn,
		.ecom-product-go-to-checkout-btn-wrapper a {
			display: table-cell;
			margin: 0;
			width: 100%;
			height: 52px;
			line-height: 30px;
		}

		.ecom-product-go-to-checkout-btn-wrapper a {
			display: block;
			padding: 12px;
		}

		.ecom-product-cattag {
			margin: 1.5em 0 0;
			line-height: 36px;
		}

		a.ecom-product-tag-link,
		a.store-category-link {
			border: 1px solid @contrast-color;
			padding: 3px 13px 4px;
			text-decoration: none;

			&:hover {
				border-color: darken(@color-swatch2, 15%);
				color: darken(@color-swatch3, 15%);
			}
		}
	}
}

.basket-summary-items-table {
	td, th {
		@media @mobile {
			float: left;
			width: 100%;
			padding: 3px 0;
		}
	}

	.image-wrap {
		@media @mobile {
			padding: 10px;
		}
	}

	.basket-summary-amount, 
	.basket-summary-subtotal {
		@media @mobile {
			padding: 10px 0;
			text-align: right;
		}
	}

	.basket-summary-items-column {
		@media @mobile {
			text-align: left;
		}
	}

	.basket-summary-amount-column,
	.basket-summary-details-column {
		@media @mobile {
			display: none;
		}
	}
}

// Basket

.widget.ecombasket {
	margin-bottom: 2em;

	.ecombasket-pull {
		width: auto;
		max-width: 200px;
		height: 52px;

		p {
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			text-transform: uppercase;
			position: relative;

			.svg &:before {
				background-image: image('/images/basket.svg');
				background-size: 100%;
				width: 20px;
				height: 20px;
				position: relative;
				top: 4px;
			}
		}
	}

	.ecombasket-list-container {
		ul {
			li {
				border-bottom: 1px solid @contrast-color;

				.ecombasket-item-image {
					width: 85px;
				}

				.ecombasket-item-info {
					.ecombasket-item-title {
						font-family: @font-swatch4-font-family;
						font-size: @font-swatch4-font-size;
						text-transform: uppercase;
						letter-spacing: .1em;
					}

					.ecombasket-remove-button {
						line-height: 10px;
						padding: 10px 20px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.widget.ecomproduct .ecom-product .btn.ecom-product-add-to-cart-btn .text:before {
	background-image: image('/images/basket.svg');
	background-size: 100%;
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
}

.basket-summary-empty-cta,
.ecombasket-summary-link {
	display: inline-block;
}