// Theme

// Colour Variables

@bg-color: @color-swatch7; 
@contrast-color: @color-swatch2;
@button-color: @color-swatch3;
@heading-color: @color-swatch4;
@paragraph-color: @color-swatch5;
@nav-color: @color-swatch6;
@spare-color: @color-swatch7;

// Main

body {
	position: relative;
	font-smooth: always;
	text-rendering: geometricPrecision;
	letter-spacing: .02em;
}

// TYPOGRAPHY

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	letter-spacing: .06em;
	padding-bottom: .5em;
}

h1 {
	@media @tablet {
		font-size: bkscale(@font-swatch1-font-size,0.85);
		line-height: bkscale(@font-swatch1-line-height,0.85);
	}
	
	@media @mobile {
		font-size: bkscale(@font-swatch1-font-size,0.7);
		line-height: bkscale(@font-swatch1-line-height,0.7);
	}
}

h2 {
	@media @tablet {
		font-size: bkscale(@font-swatch2-font-size,0.85);
		line-height: bkscale(@font-swatch2-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch2-font-size,0.7);
		line-height: bkscale(@font-swatch2-line-height,0.7);
	}
}

h3 {
	@media @tablet {
		font-size: bkscale(@font-swatch3-font-size,0.85);
		line-height: bkscale(@font-swatch3-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch3-font-size,0.7);
		line-height: bkscale(@font-swatch3-line-height,0.7);
	}
}

h4 {
	@media @tablet {
		font-size: bkscale(@font-swatch4-font-size,0.85);
		line-height: bkscale(@font-swatch4-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch4-font-size,0.7);
		line-height: bkscale(@font-swatch4-line-height,0.7);
	}
}

h5 {
	font-family: @font-swatch4-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
	color: @font-swatch4-color;
	letter-spacing: @font-swatch4-letter-spacing;

	@media @tablet {
		font-size: bkscale(@font-swatch5-font-size,0.85);
		line-height: bkscale(@font-swatch5-line-height,0.85);
	}

	@media @mobile {
		font-size: bkscale(@font-swatch5-font-size,0.7);
		line-height: bkscale(@font-swatch5-line-height,0.7);
	}
}

// Normal Text

h1, h2, h3, h4, h5,
p, span, small, pre, code,
table, th, td, label, .btn, button {
	word-break: break-word;
}

.widget.content .wysihtml-editor-content,
.widget.embed .embed-content,
.widget.content.in-editing .wysihtml-editor-content {
	font-size: @font-swatch5-font-size !important;
	line-height: @font-swatch5-line-height !important;

	&, p, span, small, pre, code,
	table, th, td {
		color: @font-swatch5-color;
	
		.style--light & {
			color: @font-swatch5-color;
		}
	
		.style--accent & {
			color: @contrast--accent;
		}
	
		.style--dark & {
			color: @contrast--dark;
		}
	}
}

// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: darken(@color-swatch1, 5%);
	overflow: auto;
	font-family: monospace;

	.style--light & {
		background-color: darken(@color-swatch1, 5%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 1px solid @color-swatch5;

	.style--light & {
		border-color: @color-swatch5;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

a {
	cursor: pointer;
}

.content .bk-content-text ol {
	list-style-position: inherit;
}

// BLOCKQUOTE

blockquote {
	background-color: @color-swatch7;
	border: 1px solid @contrast-color;
	padding: 30px;
	font-style: italic;
	font-size: @font-swatch4-font-size;
	color: @button-color;

	.style--light & {
		border-color: @contrast-color;
		color: @button-color;
	}

	.style--accent & {
		border-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-color: @color--accent;
		color: @contrast--dark;
	}

	&:before {
		display: none;
	}
}

// Unordered and Ordered List

.widget.content,
.blog-post-content,
.ecom-product-long-description {
	ul {
		margin: 0.5em 0 0.5em 2em;
		padding-left: 0;
		list-style: none;
	
		li {
			position: relative;
			padding: 0;
			margin: 0 0 0.25em 0;
	
			&:before {
				position: absolute;
				content: '\2013';
				left: -2em;
			}
		}
	}
	
	ol {
		margin: 0.5em 0;
		padding-left: 0;
		counter-reset: ordered-counter;
	
		li {
			position: relative;
			padding-left: 2em;
			margin: 0 0 0.25em 0;
			list-style-type: none;
	
			// Custom Numbers
	
			&:before {
				min-width: 2em;
				padding: 0 0.4em 0 0;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				.box-sizing(border-box);
				content: counter(ordered-counter) ".";
				counter-increment: ordered-counter;
				text-align: left;
			}
		}
	}
}

// TABLE

table {
	overflow: auto;
	min-width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @font-swatch5-color;
	margin: 0;
	hyphens: auto;
	color: @font-swatch5-color;

	.style--light & {
		border-top-color: @font-swatch5-color;
		color: @font-swatch5-color;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
		color: @contrast--dark;
	}
}

// Table Cell

td, th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @font-swatch5-color;
	text-align: left;
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	font-size: @font-swatch4-font-size;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	color: @font-swatch4-color;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
		color: @font-swatch4-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}
	
	@media @mobile {
		display: none;
	}
	
	.responsivecolumns & {
		display: none;
	}
}

td {
	border-bottom: 1px dotted @font-swatch5-color;
	padding: 1em 0.5em;
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	font-size: @font-swatch5-font-size;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}
	
	.responsivecolumns & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}
	
	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}

		.responsivecolumns & {
			padding: 1em 0.5em 0;
		}
	}
	
	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px dotted @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			padding: 0 0.5em 1em;
			border-bottom: 1px dotted @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @font-swatch5-color;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}
	
	@media @mobile {
		border-bottom: none;
	}
	
	.responsivecolumns & {
		border-bottom: none;
	}
	
	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}
		
			.style--accent & {
				border-bottom-color: @contrast--accent;
			}
		
			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// CUSTOM PAGE

body.edit .widget.navigation, body.edit .widget.extendednavigation {
	overflow: visible;
}

// HEADER & BK-NAV

.bk-header {
	padding: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;

	@media @tablet {
		display: inline-block;
		padding: 20px;
		background-color: @bg-color;
		position: relative;
		width: 100%;
	}

	.companyheader {
		display: inline-block;
		vertical-align: middle;
		width: 29%;

		@media @tablet {
			display: block;
			width: 90%;
			float: left;
		}
	}
}

.bk-pt-default {
	.bk-header {
		position: relative;
	}

	.main {
		padding: 60px 0;
	
		@media @tablet {
			padding: 40px 0;
		}
	}
}

// FOOTER

.bk-footer {
	background-color: @spare-color;
	color: lighten(@paragraph-color, 20%);
	padding: 2em 0;
}

.footerright, .footerleft {
	display: inline-block;
	vertical-align: middle;
	width: 49.5%;

	@media @mobile {
		width: 100%;
		text-align: center !important;
		padding: 10px 0;
	}
}

.footerright {
	text-align: right;
}

.bk-footer h1,
.bk-footer h2,
.bk-footer h3,
.bk-footer h4 {
	color: @nav-color;
	padding-bottom: 1em;
}

// CONTENT

.widget.content {
	padding: 0;
	overflow: hidden;

	span.expand {
		font-family: @font-swatch7-font-family;
		margin: 10px 0;
		cursor: pointer;
		display: inline-block;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
}

.expand .more,
.expand .less {
	&:hover {
		color: @heading-color;
	}
}

// GENERAL FORMS

input,
textarea,
select {
	margin-bottom: 1em;
	padding: 8px;
	background: @color-swatch7;
	border: 1px solid @contrast-color;
	min-height: 45px;
	text-indent: 10px;
	.transition (all, 0.5s, ease);
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	&:focus,
	&:hover {
		.transition (all, 0.5s, ease);
		border: 1px solid darken(@contrast-color, 20%);
	}
}

textarea {
	min-height: 150px;
}

// Dropdown

.select-wrap {
	position: relative;

    .advancedcontactform & {
        max-width: 50%;

        @media @tablet {
            max-width: 100%;
        }
    
        .responsivecolumns & {
            max-width: 100%;
        }
    }
}

select {
	cursor: pointer;
	position: relative;
	padding-right: 2.6em;
	border-radius: 0;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
	background-size: 24px;

	option {
		background-color: @color-swatch1;
		color: @font-swatch5-color;
	}
}

.contactform .option-list,
.advancedcontactform .option-list {
	margin-bottom: 1em;
}

// Clearfix

.clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: ' ';
		display: table;
	}
	
	&:after {
		clear: both;
	}
}