// Widgets

// LOGO & COMPANY NAME

// Company Name

.widget.companyname {
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;

	a {
		@media @mobile {
			font-size: bkscale(@font-swatch10-font-size,0.9);
		}
	}
}

.companyname a:hover {
	text-decoration: none;
}

// Logo

.widget.logo {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	z-index: 1000;

	a img {
		max-height: 50px;
		width: auto!important;

		@media @mobile {
			max-height: 40px;
		}
	}
}

// NAVIGATION

.widget.extendednavigation {
	text-transform: uppercase;
	display: inline-block;
	vertical-align: middle;
	width: 70%;

	@media @tablet {
		display: block;
		width: 100%;
	}

	ul {
		margin: 0 auto;
		padding: 0;
		display: block;

		li {
			a {
				padding: 0 30px;
				margin: 0;
				text-transform: uppercase;
				letter-spacing: .1em;
				.transition (all, 0.5s, ease);
			}

			ul {
				display: block;
				text-align: center;
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: 100%;
				left: -12px;
				padding: 10px;
				transform: translateZ(0);
				transform: translateY(10%);
				transition: all 0.5s ease 0s, visibility 0s linear 0.5s;
			}

			&:hover {
				ul {
					background-color: darken(@color-swatch1, 5%);
					visibility: visible;
					opacity: 1;
					padding: 10px;
					transform: translateX(0%);
					transition-delay: 0s;
				}
			}

			&.folder {
				.text {
					letter-spacing: .1em;
					.transition (all, 0.5s, ease);
					display: block;
					padding: 10px 30px;
					margin: 0;
					text-transform: uppercase;
				}

				&:after {
					right: 10px;
					top: 22px;
				}
			}
		}
	}
}

// Responsive - Extended Navigation

.widget .extendednavigation {
	a.pull {
		@media @tablet {
			top: 10px;
		}

		@media @mobile {
			top: 0;
		}

		&:after {
			@media @tablet {
				top: 10px;
				left: 0;
				height: 2px;
				width: 30px;
				background-color: @font-swatch6-color;
				box-shadow: 0 9px 0 @font-swatch6-color, 0 18px 0 @font-swatch6-color;
			}
		}
	}

	ul {
		@media @tablet {
			width: 100%;
			display: none;
			padding: 20px;
		}

		li {
			@media @tablet {
				border-bottom: 1px solid fade(@color-swatch6, 10%);
				width: 100%;
				padding: 0;
			}
	
			&:last-child {
				@media @tablet {
					border-bottom: none;
				}
			}
	
			a {
				@media @tablet {
					padding: 10px 30px;
				}
			}
	
			&.folder ul li {
				@media @tablet {
					margin: 0;
					padding: 0;
				}
		
				a {
					@media @tablet {
						padding: 0;
					}
				}
			}
		
			> ul {
				@media @tablet {
					display: none!important;
					left: 0;
				}
			}
		
			&:hover > ul {
				@media @tablet {
					display: block !important;
					width: 100%;
					position: relative;
					z-index: 500;
					padding: 0;
					margin: 0;
				}
			}
		}
	}
}

// FEATURE

.bk-section {
	background-color: transparent;
	background-attachment: fixed;
	background-image: image('/images/main-bg.jpg');
	background-size: cover;
	background-position: center center;
}

.widget.feature {
	border-bottom: 1px solid @spare-color;

	.feature-bgimg {
		height: 100% !important;
		height: 100vh !important;

		@media @tablet {
			height: 300px;
		}

		@media @mobile {
			height: 220px;
		}

		.content {
			text-align: center;

			@media @tablet {
				height: 300px;
			}

			@media @mobile {
				height: 220px;
			}

			.spare {
				margin: 0 40px;
				letter-spacing: .1em;

				h2 {
					text-transform: uppercase;
					padding-bottom: 0;
					
					@media @tablet {
						font-size: bkscale(@font-swatch8-font-size,0.7);
						line-height: bkscale(@font-swatch8-line-height,0.7);
						letter-spacing: .1em;
					}

					@media @mobile {
						font-size: bkscale(@font-swatch8-font-size,0.6);
						line-height: bkscale(@font-swatch8-line-height,0.6);
						padding-bottom: .1em;
					}
				}

				h3 {
					color: fade(@font-swatch9-color, 75%);
					font-style: italic;
					text-transform: initial;

					@media @tablet {
						font-size: bkscale(@font-swatch9-font-size,0.8);
						line-height: bkscale(@font-swatch9-line-height,0.8);
					}

					@media @mobile {
						font-size: bkscale(@font-swatch9-font-size,0.8);
						line-height: bkscale(@font-swatch9-line-height,0.8);
						padding-bottom: .8em;
					}
				}

				.feature-btn {
					display: block;
					
					button {
						padding: 10px 30px 7px;
						text-decoration: none;
						.transition (all, 0.5s, ease);

						@media @mobile {
							width: 100%;
							font-size: bkscale(@font-swatch7-font-size,0.8);
							line-height: bkscale(@font-swatch7-line-height,0.8);
						}

						&:hover {
							.transition (all, 0.5s, ease);
						}
					}
				}
			}
		}
	}

	button.btn {
		&.justifyleft {
			text-align: left;
		}
		
		&.justifycenter {
			text-align: center;
		}
		
		&.justifyright {
			text-align: right;
		}
		
		&.justifyfull {
			text-align: justify;
		}
		
		&.italic {
			font-style: italic;
		}
		
		&.bold {
			font-weight: bold;
		}
	}
	
	button i {
		margin-right: 5px;
	}

	&.align-left .content {
		width: 100%;
		text-align: left;
	}
	
	&.align-center .content {
		width: 100%;
		text-align: center;
	}
	
	&.align-right .content {
		width: 100%;
		text-align: right;
	}
}

// IMAGE

.widget.image {
	span.image-title {
		margin: 10px 0 0;
		color: @heading-color;

		&:hover {
			color: lighten(@color-swatch4, 20%);
		}
	}

	span.image-description {
		margin: 0 0 10px;
		color: @paragraph-color;
		&:hover {
			color: lighten(@color-swatch5, 20%);
		}
	}
	
	a:hover {
		text-decoration: none;
	}
}

// GALLERY

.widget.gallery {
	margin-bottom: 2em;

	.gallery-widget {
		position: relative;
		width: 100%;
		padding: 0;

		li {
			width: 25%;
			padding-bottom: 25%;

			@media @desktop-small {
				width: 33.3%;
				padding-bottom: 33.3%;
			}

			@media @tablet {
				width: 50%;
				padding-bottom: 50%;
			}

			@media @mobile {
				width: 100% !important;
				padding-bottom: 100% !important;
			}

			.inner {
				left: 10px;
				right: 10px;
				top: 10px;
				bottom: 10px;

				.title {
					margin-top: 30%;
					color: @spare-color;
					font-family: @font-swatch4-font-family;
					font-weight: 700;
					text-transform: uppercase;
				}

				.description {
					color: @spare-color;
					font-size: 13px;
				}
			}
		}
	}

	.image-data {
		background: fade(@color-swatch3, 85%);
		display: block;
		-webkit-transform: scale(0.1);
		-moz-transform: scale(0.1);
		-o-transform: scale(0.1);
		-ms-transform: scale(0.1);
		transform: scale(0.1);
		-webkit-transition: all 0.26s ease-in-out;
		-moz-transition: all 0.26s ease-in-out;
		-o-transition: all 0.26s ease-in-out;
		transition: all 0.26s ease-in-out;
		opacity: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: auto;
		overflow: hidden;
		text-align: center;
		padding: 20px;
	}

	.inner:hover .image-data {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
		text-align: center;
	}
}

// SLIDESHOW

.widget.responsiveslideshow {
	.slideshow-widget {
		.btn-prev,
		.btn-next {
			width: 32px;
			height: 32px;
			text-indent: -99999px;

			&:hover {
				opacity: 0.7;
			}
		}

		.btn-prev {
			left: 10px;
			background: image('/images/slideshow-arrow-left.svg') no-repeat center left;
			background-size: contain;
		}

		.btn-next {
			right: 10px;
			background: image('/images/slideshow-arrow-right.svg') no-repeat center left;
			background-size: contain;
		}

		.btn-play {
			width: 64px;
			height: 64px;
			background: image('/images/slideshow-play.svg') no-repeat center;
			background-size: cover;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-indent: -99999px;

			&:after {
				display: none;
			}
		}

		&:hover .pause {
			background: image('/images/slideshow-pause.svg') no-repeat center;
			background-size: cover;
		}
	}

	.content-wrapper {
		background-color: @contrast-color;
	}

	.title,
	.description {
		padding: 10px;
	}

	.title {
		color: @font-swatch4-color;
		font-family: @font-swatch4-font-family;
		text-transform: uppercase;
	}

	.description {
		color: @font-swatch5-color;
	}

	.slideshow-widget-controls {
		margin: 10px 0;

		.dot {
			background-color: transparent;
			border: 1px solid @contrast-color;
			border-radius: 50%;
			width: 8px;
			height: 8px;
			margin: 0 4px;
			cursor: pointer;
		
			&.selected {
				background-color: @button-color;
				border: none;
			}
		}
	}
}

// BUTTONS

.btn,
button.btn,
.widget.button button,
.contactform button,
.contactform button.btn,
.signupform fieldset button,
.signupform fieldset button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.userregistration fieldset .userregistrationbtn,
.widget.profile form button,
.widget.paypalbuynow .widget.button.paypal,
.widget.dropbox button,
.blog-search-submit-button,
.blog-list-footer .paginate-older,
.ecom-productslist-products .productlist-search .btn,
.widget.ecomproduct .ecom-product .btn,
.ecom-product .btn,
.widget.ecomcheckout .checkout-order-button,
.widget.ecombasket .ecombasket-pull,
.widget.ecombasket .ecombasket-list-container ul li .ecombasket-item-info .ecombasket-remove-button,
.widget.ecombasket .ecombasket-list-container .ecombasket-checkout-wrap .ecombasket-checkout-link,
.widget.ecombasketsummary .basket-summary-continue-shopping,
.widget.ecombasketsummary .basket-summary-submit,
.ecombasket-summary-link
.widget.feature .feature-bgimg .content button,
.widget.tweet a,
.widget.socialicons span a,
.widget.clicktocall a,
.blog-post-more-link a,
.widget.ecomcategorieslist ul li a,
.widget.yelpreview .review-body .review-link a,
a.contentgroup__link {
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight: @font-swatch7-font-weight;
	line-height: @font-swatch7-line-height;
	background-color: @font-swatch7-background-color;
	color: @font-swatch7-color;
	padding: 10px 30px 7px;
	text-transform: uppercase;
	letter-spacing: .1em;
	border: none;
	.transition (all, 0.5s, ease);

	&:hover {
		background-color: @font-swatch7-background-color-hover;
		cursor: pointer;
		.transition (all, 0.5s, ease);
	}
}

// Tweet

.widget.tweet a {
	padding-left: 58px;
	background-image: image('/images/social/socialicons-twitter.svg');
	background-size: 36px;
	background-repeat: no-repeat;
	background-position: 20px center;
	display: inline-block;

	&:hover {
		background-image: image('/images/social/socialicons-twitter.svg');
	}
}

// Dropbox

.widget.dropbox button {
	margin: 0;
	padding-left: 58px;
	background-image: image('/images/dropbox-icon.svg');
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: 20px center;

	&:hover {
		background-image: image('/images/dropbox-icon.svg');
	}
}

// Click to call

.widget.clicktocall {
	padding: 8px 0;

	a {
		padding: 10px 0;
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		color: @font-swatch5-color;
		letter-spacing: @font-swatch5-letter-spacing;
		text-decoration: none;

		@media @mobile {
			display: inline-block;
			background-image: image('/images/call-icon.svg');
			background-size: 30px;
			background-repeat: no-repeat;
			background-position: 20px center;
			padding: 12px 30px 12px 58px;
			border: 2px solid @spare-color;
			text-transform: uppercase;
			letter-spacing: .1em;
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			font-weight: @font-swatch7-font-weight;
			background-color: @font-swatch7-background-color;
			color: @font-swatch7-color;
			.transition (all, 0.5s, ease);
		}

		&:hover {
			cursor: pointer;

			@media @mobile {
				background-color: @font-swatch7-background-color-hover;
				padding: 12px 30px 12px 58px;
				background-size: 30px;
				background-position: 20px center;
				.transition (all, 0.5s, ease);
			}
		}
	}
}

// Paypal

.widget.paypalbuynow .widget.button.paypal {
	padding-left: 48px;
	background-image: image('/images/paypal-icon.svg');
	background-size: 28px;
	background-repeat: no-repeat;
	background-position: 24px center;
	text-decoration: none;
	cursor: pointer;
}

.ecom-product-go-to-checkout-btn,
.ecom-product .btn {
	padding: 10px 22px 10px 22px;
}

// Button Span

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @contrast--accent;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	} 
}

// RADIOBUTTONS AND CHECKBOXES

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms,
footer.bk-footer .widget.profile .form-group.profile__form-group.profile__form-group--terms {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
}

.widget .form .option-list,
.widget .form-group[class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		word-break: break-word;
		text-align: left;
		text-transform: none;

		span a.form__link {
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: @font-swatch5-line-height;
			letter-spacing: @font-swatch5-letter-spacing;
		}

		.style--light & {
			color: @contrast--light;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @contrast--dark;
		}
			
		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;

			.style--light & {
				border-color: @color--accent;
			}

			.style--accent & {
				border-color: @color--dark;
			}

			.style--dark & {
				border-color: @color--accent;
			}
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}
		
		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-0.2+1);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}

			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}
		}
	}
	
	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;
	}
}

// CONTACT FORM

.contactform,
.advancedcontactform {
	label {
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		color: @font-swatch5-color;
		letter-spacing: @font-swatch5-letter-spacing;
		margin-bottom: .4em;
		padding: 0;
	}

	button {
		float: right;
	}
}

// SIGNUP FORM

.widget.signupform {
	margin-bottom: 20px;

	fieldset {
		label {
			font-family:@font-swatch5-font-family;
			font-size:@font-swatch5-font-size;
			font-weight:@font-swatch5-font-weight;
			line-height:@font-swatch5-line-height;
			color: @font-swatch5-color;
			letter-spacing: @font-swatch5-letter-spacing;
		}

		input {
			height: 40px;
			width: 100%;
			margin-bottom: 0;
		}

		button {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

// REGISTERATION FORM

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;
		
		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// SOCIAL ICONS

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
	span {
		display: inline-block;

		a {
			background-size: 32px;
			background-color: @font-swatch7-background-color;
			border: none;
			margin: 0 5px;
			width: 36px;
			height: 36px;
			.border-radius(50%);
			.transition (all, 0.5s, ease);

			&:hover {
				background-color: @font-swatch7-background-color-hover;
				.transition (all, 0.5s, ease);
			}

			@media @mobile {
				margin: 0 2px;
			}
		}
	}

	span.bk-socialicons-twitter a {
		background-image: image('/images/social/socialicons-twitter.png');
		background-image: image('/images/social/socialicons-twitter.svg');
	}
	
	span.bk-socialicons-linkedin a {
		background-image: image('/images/social/socialicons-linkedin.png');
		background-image: image('/images/social/socialicons-linkedin.svg');
	}
	
	span.bk-socialicons-facebook a {
		background-image: image('/images/social/socialicons-facebook.png');
		background-image: image('/images/social/socialicons-facebook.svg');
	}
	
	span.bk-socialicons-rss a {
		background-image: image('/images/social/socialicons-rss.png');
		background-image: image('/images/social/socialicons-rss.svg');
	}
	
	span.bk-socialicons-googleplus a {
		background-image: image('/images/social/socialicons-googleplus.png');
		background-image: image('/images/social/socialicons-googleplus.svg');
	}
	
	span.bk-socialicons-youtube a {
		background-image: image('/images/social/socialicons-youtube.png');
		background-image: image('/images/social/socialicons-youtube.svg');
	}
	
	span.bk-socialicons-instagram a {
		background-image: image('/images/social/socialicons-instagram.png');
		background-image: image('/images/social/socialicons-instagram.svg');
	}
	
	span.bk-socialicons-pinterest a {
		background-image: image('/images/social/socialicons-pinterest.png');
		background-image: image('/images/social/socialicons-pinterest.svg');
	}
}

// TWITER FEED

.widget.twitter {
	margin-bottom: 2em;

	ul {
		li {
			padding: 30px;
			margin-bottom: 1em;
			border: 1px solid @contrast-color;
		}
	}

	.twitter-profile-pic {
		max-width: 80px;
		@media @mobile {
			display: none;
		}
	}

	.twitter-content {
		p {
			padding: 0;

			a {
				font-size: @font-swatch5-font-size;
			}
		}

		time,
		span,
		span a {
			font-family: @font-swatch5-font-family;
			font-size: bkscale(@font-swatch5-font-size,0.9);
		}

		span.bk-full-name {
			font-family: @font-swatch4-font-family;
			color: @font-swatch4-color;
			font-size: @font-swatch5-font-size;
			text-transform: uppercase;
		}

		span a {
			color: @color-swatch3;
			text-decoration: none;
		}
	}
}

// LINE

.widget.line {
	padding: 20px 0;
}

hr.line {
	background-color: @contrast-color;
	margin: 1em 0;
}

// EMBEDS

.embed-content iframe {
	max-width: 100%;
}

// PROFILE

.widget.profile {
	form {
		margin: 0;
		
		fieldset {
			input {
				width: 100%;
				height: 40px;
			}

			button {
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

// MAP

.widget.map {
	border: 1px solid @contrast-color;
	margin-bottom: 2em;
}